$accent: #ff6b08;
$accent-secondary: #ff6b01;
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$footer-text-color: #545454;
$primary-background: #ffffff;
$secondary-background: #f7f7f7;

:root {
  --main-color: #ffffff;
  --primary-color: #000000;
  --accent-color: #ff6b08;
  --footer-bg-color: #f7f7f7; // и фон на стрелках в пагинации
}
