<ul class="render-list">
    {{!-- {{#each}} --}}
    <li class="render-item">
        <article>
            <a class="render-img" href="">
                <img src="https://upload.wikimedia.org/wikipedia/ru/b/b2/Deadpool_film.jpg" alt="{{original_title}}">
            </a>
            <div>
                <a href="">
                    <h2 class="moavi-title">Deadpool</h2>
                </a>
                <div>
                <div class="movie-info">
                    <ul class="genre-list">
                        <li class="genre-item">
                            <a class="gener-link" href="">Dramma</a>
                        </li>
                        <li class="genre-item">
                            <a class="gener-link" href="">Comedy</a>
                        </li>
                    </ul>
                    <p class="release-date">| "2021"</p>
                </div>
            </div>
        </article>
    </li>
    {{!-- {{/each}} --}}
</ul>