<ul class="render-list">
    {{#each results}}
    <li class="render-item">
        <article>
            <a class="render-img" href="">
                <img class="moavi-poster" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{result.original_title}}">
            </a>
            <div>
                <a href="">
                    <h2 class="moavi-title">{{original_title}}</h2>
                </a>
                <div>
                <div class="movie-info">
                    <ul class="genre-list">
                        <li class="genre-item">
                            <a class="gener-link" href="">Dramma</a>
                        </li>
                        <li class="genre-item">
                            <a class="gener-link" href="">Comedy</a>
                        </li>
                    </ul>
                    <p class="release-date">| {{release_date}}</p>
                </div>
            </div>
        </article>
    </li>
    {{/each}}
</ul>