<div class="backdrop is-hidden">
  <div class="cont">
    <h3 class="cont__title">Contributors <span class="cont__title--flicker">Team</span></h3>
    <ul class="cont__list">
      <li class="cont__member">
        <img class="cont__photo" src="./images/831.png" alt="">
        <p class="cont__role">Developer</p>
        <a href="#" class="cont__link">
          <svg class="cont__icon" width="24px">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
      <li class="cont__member">
        <img class="cont__photo" src="./images/831.png" alt="">
        <p class="cont__role">Developer</p>
        <a href="#" class="cont__link">
          <svg class="cont__icon">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
      <li class="cont__member">
        <img class="cont__photo" src="./images/831.png" alt="">
        <p class="cont__role">Developer</p>
        <a href="#" class="cont__link">
          <svg class="cont__icon">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
      <li class="cont__member">
        <img class="cont__photo" src="./images/831.png" alt="">
        <p class="cont__role">Developer</p>
        <a href="#" class="cont__link">
          <svg class="cont__icon">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
      <li class="cont__member">
        <img class="cont__photo" src="./images/831.png" alt="">
        <p class="cont__role">Developer</p>
        <a href="#" class="cont__link">
          <svg class="cont__icon">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
      <li class="cont__member">
        <img class="cont__photo" src="./images/831.png" alt="">
        <p class="cont__role">Developer</p>
        <a href="#" class="cont__link">
          <svg class="cont__icon">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
      <li class="cont__member">
        <img class="cont__photo" src="./images/831.png" alt="">
        <p class="cont__role">Developer</p>
        <a href="#" class="cont__link">
          <svg class="cont__icon">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
      <li class="cont__member">
        <img class="cont__photo" src="./images/831.png" alt="">
        <p class="cont__role">Developer</p>
        <a href="#" class="cont__link">
          <svg class="cont__icon">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
      <li class="cont__member">
        <img class="cont__photo" src="./images/831.png" alt="">
        <p class="cont__role">Developer</p>
        <a href="#" class="cont__link">
          <svg class="cont__icon">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
      <li class="cont__member">
        <img class="cont__photo" src="./images/831.png" alt="">
        <p class="cont__role">Developer</p>
        <a href="#" class="cont__link">
          <svg class="cont__icon">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>