<div class="backdrop is-hidden">
  <div class="cont">
    <h3 class="cont__title">Contributors <span class="cont__title--flicker">Team</span></h3>
    <ul class="cont__list">
      <li class="cont__member">
        <img class="cont__photo" src="./images/developers/andrey.jpg" alt="Team Member">
        <p class="cont__name">Andrey</p>
        <p class="cont__role">Team Lead</p>
        <a href="https://github.com/Glitch458" class="cont__link">
          <svg class="cont__icon" width="24px">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
      <li class="cont__member">
        <img class="cont__photo" src="./images/developers/viacheslav.jpg" alt="Team Member">
        <p class="cont__name">Viacheslav</p>
        <p class="cont__role">Scrum Master</p>
        <a href="https://github.com/Kryassan" class="cont__link">
          <svg class="cont__icon">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
      <li class="cont__member">
        <img class="cont__photo" src="./images/developers/yaroslav.jpg" alt="Team Member">
        <p class="cont__name">Yaroslav</p>
        <p class="cont__role">Developer</p>
        <a href="https://github.com/YaroslavKnysh" class="cont__link">
          <svg class="cont__icon">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
      <li class="cont__member">
        <img class="cont__photo" src="./images/developers/ruslan.jpg" alt="Team Member">
        <p class="cont__name">Ruslan</p>
        <p class="cont__role">Developer</p>
        <a href="https://github.com/Ruslan-GH" class="cont__link">
          <svg class="cont__icon">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
      <li class="cont__member">
        <img class="cont__photo" src="./images/developers/bohdan.jpg" alt="Team Member">
        <p class="cont__name">Bohdan</p>
        <p class="cont__role">Developer</p>
        <a href="https://github.com/l-Bohdan-l" class="cont__link">
          <svg class="cont__icon">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
      <li class="cont__member">
        <img class="cont__photo" src="./images/developers/kirill.jpg" alt="Team Member">
        <p class="cont__name">Kirill</p>
        <p class="cont__role">Developer</p>
        <a href="https://github.com/0idea0" class="cont__link">
          <svg class="cont__icon">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
      <li class="cont__member">
        <img class="cont__photo" src="./images/developers/taras.jpg" alt="Team Member">
        <p class="cont__name">Taras</p>
        <p class="cont__role">Developer</p>
        <a href="https://github.com/BoikovTaras" class="cont__link">
          <svg class="cont__icon">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
      <li class="cont__member">
        <img class="cont__photo" src="./images/developers/temur.jpg" alt="Team Member">
        <p class="cont__name">Temur</p>
        <p class="cont__role">Developer</p>
        <a href="https://github.com/temuresanov01" class="cont__link">
          <svg class="cont__icon">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
      <li class="cont__member">
        <img class="cont__photo" src="./images/developers/yevhen.jpg" alt="Team Member">
        <p class="cont__name">Yevhen</p>
        <p class="cont__role">Developer</p>
        <a href="https://github.com/Hubu93" class="cont__link">
          <svg class="cont__icon">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
      <li class="cont__member">
        <img class="cont__photo" src="./images/developers/rodion.jpg" alt="Team Member">
        <p class="cont__name">Rodion</p>
        <p class="cont__role">Developer</p>
        <a href="https://github.com/Ryddik77" class="cont__link">
          <svg class="cont__icon">
            <use href="./images/github.svg#icon-github">
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>