.header {
  width: 100%;
  height: 230px;
  padding-top: 41px;
  padding-bottom: 97px;
}

.header__box {
  position: relative;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}

.header__logo-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 175px;
}

.header__title {
  font-size: 30px;
  line-height: 1.17;
  color: $primary-background;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 143px;
  padding-top: 12px;
}

.header__nav--link {
  background-color: transparent;
  color: $primary-background;
}

.header__nav--link--current {
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: $accent;
  }
}

.header__label {
  position: relative;
  display: block;
  width: 280px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    border: 0.5px solid $secondary-background;
  }
}

.header__input {
  width: 280px;
  height: 20px;
  border: none;
  background-color: transparent;
  color: $primary-background;

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  &::placeholder {
    font-weight: normal;
    display: flex;
    align-items: center;
    color: $primary-background;
  }
}

.header__icon--search {
  position: absolute;
  display: block;
  top: 2px;
  right: 2px;
}
.header__theme-switcher {
  position: absolute;
  right: 30px;
  bottom: -70px;
  cursor: pointer;
  @media screen and (min-width: 767px) {
    right: 75px;
  }
}

.ligth {
  fill: $accent;
  transition: fill 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark {
  fill: $primary-background;
  transition: fill 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
