.modal-movie-container {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: gray;
}
.modal-card-close-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 18px;
  left: 210px;
  // background: #ffffff;
  cursor: pointer;
  color: black;
  // background-image: url('../../images/icon-close.svg');
}
.mobile-menu__icon {
  outline: 1px solid black;
}
.modal-card {
  width: 280px;

  padding: 20px;

  position: absolute;
  top: 50%;
  left: 50%;

  background-color: $primary-background;
}
.modal-card-img {
  padding: 48px 20px 30px 20px;
  width: 240px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
img {
  object-fit: contain;
  min-width: 100%;
  min-height: 100%;
}
.modal-card-body-title {
  margin-bottom: 20px;
  padding-left: 20px;

  font-size: 20px;
  line-height: 1.15;

  color: $primary-text-color;
}
.modal-card-body-name {
  padding-left: 20px;
  margin-bottom: 10px;

  color: $footer-text-color;
}
.modal-card-body-vote-average {
  margin-left: 51px;
  width: 36px;
  height: 16px;

  text-align: center;
  line-height: 1.17;
  color: $primary-background;

  background: $accent-secondary;
  border-radius: 5px;
}
.modal-card-body-popularuity {
  padding-left: 56px;
}
.modal-card-body-original {
  padding-left: 49px;
}
.modal-card-body-genres {
  padding-left: 86px;
}

.modal-card-body-vote-count,
.modal-card-body-popularuity,
.modal-card-body-original,
.modal-card-body-text,
.modal-card-body-genres {
  line-height: 1.17;

  color: $primary-text-color;
}
.modal-card-body-overview-title {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;

  text-transform: uppercase;

  color: $primary-text-color;
}
.modal-card-body-overview-text {
  margin-bottom: 20px;
  padding-left: 20px;

  line-height: 1.67;

  color: $primary-text-color;
}
.modal-card-container-btn {
  padding-left: 20px;
  display: flex;
}
.modal-card-btn-watched,
.modal-card-btn-queue {
  width: 112.58px;
  height: 44px;

  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;

  background-color: $primary-background;
}
.modal-card-btn-watched {
  background-color: $accent-secondary;
  color: $primary-text-color;
  border: 5px;

  margin-right: 15px;
  padding: 0px 9px;
}
.modal-card-body-container {
  display: flex;
}
.modal-card-btn-text-first {
  color: $secondary-text-color;
}
