@media screen and (min-width: 768px) {
  .card {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px 30px 40px;

    width: 618px;
    outline: 1px solid red;
  }
  .card-img {
    width: 264px;
    height: 374px;
    padding: 0;
  }
  .card-info {
    width: 264px;
  }
  .card-btn-watched {
    padding: 0;
  }
  .card-btn-watched,
  .card-btn-queue {
    width: 125px;
  }
}
