@media screen and (min-width: 768px) {
  .modal-card {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px 30px 40px;

    width: 618px;
    outline: 1px solid red;
  }
  .modal-card-img {
    width: 264px;
    height: 374px;
    padding: 0;
  }
  .modal-card-info {
    width: 264px;
  }
  .modal-card-btn-watched {
    padding: 0;
  }
  .modal-card-btn-watched,
  .modal-card-btn-queue {
    width: 125px;
  }
  .modal-movie-container {
    position: absolute;
    top: 231px;
    left: 75px;
  }
}
